.app {
  background: rgb(230, 224, 224);
  padding: 100px 200px;
  min-height: 100vh;
  border: red solid 2px;
  /* border: 1px red; */
}

.header {
  display: flex;
  justify-content: space-between;
}